@menu_width: 20%;

#menu {
    width: @menu_width;
    text-align: center;
    list-style: none;
    position: absolute;
    
    .el_menu {
        display: list-item;
    }
}

#tresc {
    width: 70%;
    position: absolute;
    left: @menu_width + 5%;
    border-left: 2px solid black;
    padding-left: 10px;
}